<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body ng-app='myApp'>

	<h1>Dobrodosli</h1>
	<div ng-controller='ProbaCont'>
	<button ng-click=call()>Klikni!!</button>
	</div>
	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript">

		var myApp = angular.module('myApp',[]);
		
		myApp.controller('ProbaCont', ['$scope', '$http', function($scope, $http) {
			
			$scope.call = function(){
				$http({
			        method : "GET",
			        url : "/Historical_Archive/restIA/proba/probna",
			        headers : {
		                'Content-Type' : 'text/plain'
		            }
				});
			}
		}]);
</script>
</body>
</html>