<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Certificate Overview</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/table.css">

<!--        <script type="text/javascript" src="assets/table.js"> -->

        <!-- Favicon and touch icons -->
       <link rel="shortcut icon" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/nsa.jpg">

<title>City of Novi Sad's Assembly</title>
</head>
<body ng-app="myApp">

	 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-Controller="NavBarController">
      <div class="container">
        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="navbar-brand">City of Novi Sad's Assembly</li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="navBar">
          	<li ng-show="logData"><a href="#" id="logedInUser">{{logData}}</a></li>
            <li class="dropdown" ng-show="logData">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proposal</a>
            	<ul class="dropdown-menu">
                  <li><a href="#" class="add-amendment glyphicon launch-modal" data-modal-id="modal-amendment">Amendment</a></li>
                  <li><a href="#" class="add-act glyphicon launch-modal" data-modal-id="modal-act">Legal act</a></li>
                </ul>
            </li>
            <li ng-show="!logData"><a href="./index2.html" >Log In / Sign Up</a></li>
            <li ng-show="logData"><a href="#" ng-click="logOut()">Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="margin-top: 60px" ng-controller="MainController" >

      <!-- Main component for a primary marketing message or call to action -->
      <div class="row">
      <div class="col-md-12"></div>
	    <div class="col-md-3">

	         <div class="jumbotron" id=filter>
	                <div class="panel-body left-inputs">
	                <div ng-click="archive()">Klikni me!</div>
                        <div class="input-group">
                            <span class="pull-left" >Filter:</span>
                            <p ng-bind-html="proba"></p>
                            <input placeholder="Search.." type="text" ng-model="filterKeyword" class="form-control">
                        </div>
                        <div>
                            <div>
                                <ul class="pull-left">
                                    <li>
                                        <!-- <input type="checkbox" id="c1">
                                        <label for="c1"><span> </span>META 1</label> -->
                                        <input type="checkbox" id="c1" name="cb">
                                        <label for="c1">Adopted acts</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c2" name="cb">
                                        <label for="c2">Acts in progress</label>
                                    </li>
                                 <!--  <li>
                                        <input type="checkbox" id="c3" name="cb">
                                        <label for="c3">Option 03</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="c4" name="cb">
                                        <label for="c4">Option 04</label>
                                    </li> -->
                                </ul>
                            </div>
                        </div>

	                </div>
	          </div>
	    </div>
	    <div class="col-md-9">
	         <div class="jumbotron">
	         	<div class="panel-group" id="accordion" ng-bind-html="homePageContent">
	         		
	         	</div>

	        </div>
	    </div>
	    </div>
	</div><!-- /container -->

	<!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row footer">
        			<div class="span8 offset2">
        				<div class="footer-border"></div>
        				<p>Made by ET3 <strong>FTN</strong>
        			</div>
        		</div>
        	</div>
        </footer>


	<div ng-controller="NewRegulationsController">
	 <!--Modal amendment-->
        <div class="modal fade" id="modal-amendment" tabindex="-1" role="dialog" aria-labelledby="modal-amendment-label" aria-hidden="true">
            <div class="modal-dialog" >
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="modal-login-label">New Amendment</h3>
                    </div>

                    <div class="modal-body">

                        <form role="form" action="" method="post" class="form-horizontal" onclick=false>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="amTitle">Amendment title</label>
                                <div class="col-sm-8">
                                <input type="text" name="amTitle" class="amTitle form-control" id="amTitle" ng-model="amTitle" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="amLegalBasis">Legal basis</label>
                                <div class="col-sm-8">
                                <input type="text" name="amLegalBasis" class="amLegalBasis form-control" id="amLegalBasis" ng-model="amLegalBasis" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="amContent">Content</label>
                                <div class="col-sm-8">
                                <textarea type="text" name="amContent" class="amContent form-control" id="amContent" ng-model="amContent" required="required"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn launch-modal" data-modal-id="modal-submit-pass">Password confirmation</button>
                        </form>

                    </div>

                </div>
            </div>
        </div> <!-- Modal amendment -->

	<!--Modal act-->
        <div class="modal fade" id="modal-act" tabindex="-1" role="dialog" aria-labelledby="modal-act-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="modal-login-label"> New Legal Act</h3>

                    </div>

                    <div class="modal-body">

                        <form role="form" action="" method="post" class="form-horizontal" onclick=false>
                            <div class="form-group">

                                <label class="col-sm-4 control-label" for="act-name">Regulation name:</label>
                                <div class="col-sm-8 new-act-inputs">
                                    <textarea type="text" name="act-name" class="act-name form-control" id="act-name" ng-model="regName" required="required"></textarea>
                                </div>

                                <label class="col-sm-4 control-label" for="part-name">Part:</label>
                                <div class="col-sm-8 new-act-inputs">
                                <textarea type="text" name="part-name" class="act-name form-control" id="part-name" ng-model="partName" required="required"></textarea>  
                                </div>

                                <label class="col-sm-4 control-label" for="part-name">Head</label>
                                <div class="col-sm-8 new-act-inputs">
                                    <textarea type="text" name="head-name" class="act-name form-control" id="head-name" ng-model="headName" required="required"></textarea>
                                </div>

								<label class="col-sm-4 control-label" for="section-name">Section</label>
                                <div class="col-sm-8 new-act-inputs">
                                    <textarea type="text" name="section-name" class="act-name form-control" id="section-name" ng-model="sectionName" required="required"></textarea>            
                                </div>
                                
                                <label class="col-sm-4 control-label" for="section-name">Article #1</label>
                                <div class="col-sm-8 new-act-inputs">
                                    <input type="text" name="article1-name" class="act-name form-control" id="article1-name" ng-model="article1Name" required="required"></input>
                                 </div>
                                 <div>
                                    <textarea type="text" name="artCont1-name" class="act-name form-control" id="artCont1-name" ng-model="articleContent1" required="required"></textarea>            
                                </div>
                                
                                <label class="col-sm-4 control-label" for="section-name">Article #2</label>
                                <div class="col-sm-8 new-act-inputs">
                                    <input type="text" name="article2-name" class="act-name form-control" id="article2-name" ng-model="article2Name" ></input>
                                 </div>
                                 <div>   
                                    <textarea type="text" name="artCont2-name" class="act-name form-control" id="artCont2-name" ng-model="articleContent2" ></textarea>            
                                </div>
                                
                                <label class="col-sm-4 control-label" for="section-name">Article #3</label>
                                <div class="col-sm-8 new-act-inputs">
                                    <input type="text" name="article3-name" class="act-name form-control" id="article3-name" ng-model="article3Name" ></input>
                                 </div>
                                 <div>   
                                    <textarea type="text" name="artCont3-name" class="act-name form-control" id="artCont13-name" ng-model="articleContent3" ></textarea>            
                                </div>
                                
                                <label class="col-sm-4 control-label" for="section-name">Article #4</label>
                                <div class="col-sm-8 new-act-inputs">
                                    <input type="text" name="article4-name" class="act-name form-control" id="article4-name" ng-model="article4Name" ></input>
                                 </div>
                                 <div>   
                                    <textarea type="text" name="artCont4-name" class="act-name form-control" id="artCont4-name" ng-model="articleContent4" ></textarea>            
                                </div>
                                
                            <button type="submit" class="btn launch-modal" data-modal-id="modal-submit-pass-act">Issue legal act</button>
                            </div>
                        </form>

                    </div>

                </div> <!-- modal-content -->
            </div>
        </div>


        <!--Modal submit password amandman-->
        <div class="modal fade" id="modal-submit-pass" tabindex="-1" role="dialog" aria-labelledby="modal-submit-pass-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="modal-login-label">Confirm with password</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="" method="post" class="form-horizontal" onclick=false>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="pass">Confirm with password</label>
                                <div class="col-sm-8">
                                <input type="password" name="pass" class="pass form-control" id="pass" ng-model="pass" required="required">
                                </div>
                            </div>
                             <button type="submit" class="btn" ng-click="saveAmendment()">Send amendment</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        
        
        <!--Modal submit password act-->
        <div class="modal fade" id="modal-submit-pass-act" tabindex="-1" role="dialog" aria-labelledby="modal-submit-pass-act-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="modal-login-label">Confirm with password</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="" method="post" class="form-horizontal" onclick=false>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="pass">Confirm with password</label>
                                <div class="col-sm-8">
                                <input type="password" name="pass" class="pass form-control" id="pass" ng-model="pass" required="required">
                                </div>
                            </div>
                             <button type="submit" class="btn" ng-click="saveLegalAct()">Send amendment</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        
        
        <!--Modal Vote-->
        <div class="modal fade" id="modal-vote" tabindex="-1" role="dialog" aria-labelledby="modal-vote-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="modal-vote-label">Please place your vote</h3>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="" method="post" class="form-horizontal" onclick=false>
                            <div class="form-group">
                            <input type="radio" name="vote" value="infavor"> In favor <br>
                            <input type="radio" name="vote" value="against"> Against <br>
                             <input type="hidden" name="idUriVote" id={{idUriVote}}  ng-model="idUriVote"/>
                            </div>
                             <button type="submit" class="btn" ng-click="recordVote()">Vote</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="assets/js/main-controller.js"></script>
        <script src="assets/js/cookies.js"></script>
        <script src="assets/js/lodash.js"></script>
</body>
</html>