<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>City of Novi Sad's Assembly</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">


        <!-- Favicon and touch icons -->
       <link rel="shortcut icon" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/nsa.jpg">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/nsa.jpg">

    </head>

    <body ng-app="myApp">

        <!-- Top content -->
        <div class="top-content">
	        <nav class="navbar navbar-default" id="index2">
	            <a class="navbar-brand" href="home.html">Home</a>
	        </nav>

            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>City of Novi Sad's Assembly Login </h1>
                            <div class="description">
                            	<p>
	                            	This is web application for the Assembly of the City of Novi Sad.
                            	</p>
                            </div>
                        </div>
                    </div>

   					<div class="row">
                        <div class="col-sm-5">

                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Log in to our site</h3>
	                            		<p>Enter username and password to log on:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom" ng-controller="LogInController">
				                    <form role="form" action="" method="post" class="login-form">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-username">Email</label>
				                        	<input type="text" name="form-username" placeholder="Email..." class="form-username form-control" id="form-username" ng-model = "email" required>
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model = "pass" required>
				                        </div>
				                        <button type="submit" class="btn" ng-click="checkLogIn()">Sign in!</button>
				                    </form>
			                    </div>
		                    </div>
                        </div>
                        

                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>

                        <div class="col-sm-5" ng-controller="NewUserController">

                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left" >
	                        			<h3>Sign up now</h3>
	                            		<p>Fill in the form below to get access:</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="registration-form">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-first-name">First name</label>
				                        	<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name" ng-model="firstName" required="required">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-last-name">Last name</label>
				                        	<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name" ng-model="lastName" required="required">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-organization">Organization</label>
				                        	<input type="text" name="form-organization" placeholder="Organization..." class="form-organization form-control" id="form-organization" ng-model="organization" required="required">
				                        </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-organization_unit">Organization unit</label>
				                        	<input type="text" name="form-organization_unit" placeholder="Organization unit..." class="form-organization_unit form-control" id="form-organization_unit" ng-model="organizationUnit" required="required">
				                        </div>
				                        <div class="form-group">
			                                <label class="sr-only" for="form-country">Country</label>
			                                <input type="text" name="form-country" placeholder="Country..." class="form-country form-control" id="form-country" ng-model="country" required="required">
			                            </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email" ng-model="email" required="required">
				                        </div>
				                         <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="password" required="required">
				                        </div>

				                      <!--  <div class="form-group">
				                        	<label class="col-sm-4 control-label" for="access-level">Access level</label>
				                        	<select name="access-level" class="access-level col-sm-8" id="access-level">
												<option value="citizen"> Citizen </option>
												<option value="president"> President of the Assembly </option>
												<option value="alderman"> Alderman </option>
												<option value="hist-arch"> Historical archives </option>
											</select>

				                        </div>
				                        -->
				                        <button type="submit" class="btn" ng-click="saveUser()">Sign me up!</button>
				                    </form>
			                    </div>
                        	</div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">

        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by ET3 <strong>FTN</strong>

        			</div>

        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="assets/js/main-controller.js"></script>
        <script src="assets/js/cookies.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>